<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MyShopTestSuite" verbose="1" >
    <test name="Demo Tests using TestNG in Chrome" >
        <parameter name="browser" value="firefox"></parameter>
        <parameter name="os" value="windows"></parameter>
        <classes>
            <class name="com.qaguru.demo.LoginTests" />
            <class name="com.qaguru.demo.ShoppingTests" />
        </classes>
    </test>
</suite>
